<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
    NeuroDataShare 2023</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto align-items-center">
    <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/programme">Programme</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/speakers">Speakers</a><li>
    <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/hackathon">Hackathon</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/directions">Directions</a></li>
    </ul>
  </div>
  </div>
</nav>
